
<div>
    <br/>
    <H4 style="margin:5px">Adresas:<br/>{{lit_address}}</H4>
    <br/>

    {{#testnet}}
        <H4 style="margin:5px">Testnet address: Yes</H4>
    {{/testnet}}
    {{^testnet}}
        <H4 style="margin:5px">Testnet address: No</H4>
    {{/testnet}}

    <br/>
    <H4 style="margin:5px">Priskitas viešas raktas</H4>

    <H4 style="margin:5px">Stebėjimo raktas: {{public_viewkey}}</H4>
    <H4 style="margin:5px">Išleidimo raktas: {{public_spendkey}}</H4>
    <br/>

    {{#is_integrated_addr}}
        <H4 style="margin:5px">Mokėjimo ID: {{encrypted_payment_id}}</H4>
    {{/is_integrated_addr}}


    <H4 style="margin:5px">
        Pavedimai:<br/> Atsiprašome, tačiau nėra įmanoma rasti pavedimų susijusių su normaliu BitLitas adresu    
    </H4>
    <br/>

</div>
<br/>

