
<div class="center">
    <h3 style="font-size: 14px; margin-top: 20px">
       Serverio laikas (UTC): {{server_timestamp}} 
       
       {{#enable_autorefresh_option}}
           {{#refresh}}
              | <a href="/">Autorefresh is ON (10 s)</a>
           {{/refresh}}
           {{^refresh}}
              | <a href="/autorefresh">Autorefresh is OFF</a>
           {{/refresh}}
       {{/enable_autorefresh_option}}
        
        {{#testnet}}
         |
           This is <span style="color:#ff6b62">testnet</span> blockchain
        {{/testnet}}

   </h3>
</div>

   {{{mempool_info}}}

<div class="panel panel-explorer">
   <div class="panel-heading">
   {{#is_page_zero}}
     Paskutinių 25 blokų pervedimai
   {{/is_page_zero}}
   {{^is_page_zero}}
     Transactions in older blocks<!--(height: {{height}})-->
   {{/is_page_zero}}
   &nbsp;<small>(Blokų medianos dydis: {{blk_size_median}} kB)</small>
   </div>

   <div class="panel-body">
        <div class="table-responsive">
           <table class="table table-hover table-striped">
               <thead>
                   <th><i class="fa fa-bars"></i> Aukštis</th>
                   <th><i class="fa fa-clock-o"></i> Senumas {{age_format}}<!--(Δm)--></th>
                   <th><i class="fa fa-paw"></i> TX hash</th>
                   <th><i class="fa fa-tag"></i> Mokestis</th>
                   <th><i class="fa fa-money"></i> Suma</th>
                   <th><i class="fa fa-exchange"></i> Į/Iš</th>
                   <th><i class="fa fa-circle-o"></i> Žiedas</th>
                   <th><i class="fa fa-sitemap"></i> Mixin</th>
                   <th><i class="fa fa-floppy-o"></i> Dydis [kB]</th>
               </thead>
               <tbody>
                   {{#txs}}
                   <tr>
                       <td><a href="/blokas/{{height}}">{{height}}</a></td>
                       <td>{{age}}<!--{{time_delta}}--></td>
                       <td><a href="/tx/{{hash}}">{{hash}}</a></td>
                       <td>{{tx_fee_short}}</td>
                       <td>{{{sum_outputs_short}}}</td>
                       <td>{{no_inputs}}/{{no_outputs}}</td>
                       <td>
                           {{#is_ringct}}taip/{{rct_type}}{{/is_ringct}}
                           {{^is_ringct}}ne{{/is_ringct}}
                       </td>
                       <td>{{mixin}}</td>
                       <td>{{tx_size_short}}</td>
                   </tr>
                   {{/txs}}
               </tbody>
           </table>
       </div>
       
       <div id="pages" class="center" style="text-align: center;">
        {{^is_page_zero}}
          <a href="/puslapis/{{prev_page}}">ankstesnis puslapis</a> |
          <a href="/">pirmas puslapis</a> |
        {{/is_page_zero}}
           dabartinis puslapis: {{page_no}}/<a href="/puslapis/{{total_page_no}}">{{total_page_no}}</a>
           | <a href="/puslapis/{{next_page}}">sekantis puslapis</a>
       </div>
   </div>
</div>