	 <div class="panel panel-explorer panel-tx">
          <div class="panel-heading">Transaction</div>
		  {{#blk_found}}
          <div class="row">
            <div class="col-xs-12 col-sm-2">Tx hash: </div>
            <div class="col-xs-12 col-sm-10" id="tx-hash">{{tx_hash}}</div>
          </div>
		  {{/blk_found}}
          <div class="row">
            <div class="col-xs-12 col-sm-2">Tx publick key: </div>
            <div class="col-xs-12 col-sm-10">{{tx_pub_key}}</div>
          </div>
		  
		  {{#has_payment_id}}
		  <div class="row">
            <div class="col-xs-12 col-sm-2">Transaction ID: </div>
            <div class="col-xs-12 col-sm-10">{{payment_id}}</div>
          </div>
		  {{/has_payment_id}}
		  
		  {{#has_payment_id8}}
		  <div class="row">
            <div class="col-xs-12 col-sm-2">Transaction ID (encrypted): </div>
            <div class="col-xs-12 col-sm-10">{{payment_id8}}</div>
          </div>
		  {{/has_payment_id8}}
		  
		  {{#have_prev_hash}}
		  <div class="row">
            <div class="col-xs-12 col-sm-2">Previous tx: </div>
            <div class="col-xs-12 col-sm-10">{{prev_hash}}</div>
          </div>
		  {{/have_prev_hash}}
		  
		  {{#have_next_hash}}
		  <div class="row">
            <div class="col-xs-12 col-sm-2">Next tx: </div>
            <div class="col-xs-12 col-sm-10">{{next_hash}}</div>
          </div>
		  {{/have_next_hash}}
		  
          <div class="row">
            <div class="col-xs-12 col-sm-2">Block: </div>
			{{#blk_found}}
            <div class="col-xs-12 col-sm-10"><a href="/blokas/{{blk_height}}">{{blk_height}}</a></div>
			{{/blk_found}}
			{{^blk_found}}
            <div class="col-xs-12 col-sm-10">N/A (tx still running)</div>
			{{/blk_found}}
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-2">Total: </div>
            <div class="col-xs-12 col-sm-10">{{{outputs_lit_sum}}}</div>
          </div>
		  {{^have_raw_tx}}
          <!-- <div class="row"> -->
            <!-- <div class="col-xs-12 col-sm-2">Timestamp:</div> -->
            <!-- <div class="col-xs-12 col-sm-10">{{blk_timestamp_uint}}</div> -->
          <!-- </div> -->
          <div class="row">
            <div class="col-xs-12 col-sm-2">Time [UTC]: </div>
            <div class="col-xs-12 col-sm-10">{{blk_timestamp}}</div>
          </div>
          <!-- <div class="row"> -->
            <!-- <div class="col-xs-12 col-sm-2">Age [y:d:h:m:s]: </div> -->
            <!-- <div class="col-xs-12 col-sm-10">{{delta_time}}</div> -->
          <!-- </div> -->
		  {{/have_raw_tx}}
          <div class="row">
            <div class="col-xs-12 col-sm-2">Fee: </div>
            <div class="col-xs-12 col-sm-10">{{tx_fee}}</div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-2">Tx size: </div>
            <div class="col-xs-12 col-sm-10">{{tx_size}} Kb</div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-2">Tx version: </div>
            <div class="col-xs-12 col-sm-10">{{tx_version}}</div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-2">No of confirmations: </div>
            <div class="col-xs-12 col-sm-10" id="tx-confirmations"> {{confirmations}}</div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-2">Ring: </div>
            <div class="col-xs-12 col-sm-10">{{#is_ringct}}taip/{{rct_type}}{{/is_ringct}}{{^is_ringct}}ne{{/is_ringct}}</div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-2">Extra: </div>
            <div class="col-xs-12 col-sm-10">{{extra}}</div>
          </div>
     </div>
	 <div class="panel panel-explorer">
        <div class="panel-heading">
          {{outputs_no}} transaction(-'s) Į
          
        </div>
        <div class="panel-body">
          <div class="table-responsive">
              <table class="table table-hover table-striped">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Stealth address</th>
                    <th>Ammount</th>
                    <th>Ammount idx</th>
                  </tr>
                </thead>
                <tbody>
				  {{#outputs}}
                  <tr>
					<td>{{output_idx}}</td>
					<td>{{out_pub_key}}</td>
					<td>{{{amount}}}</td>
					<td>{{amount_idx}} iš {{num_outputs}}</td>
                  </tr>
				  {{/outputs}}
                </tbody>
              </table>
          </div>
        </div>
     </div>
	{{^have_raw_tx}}
	{{#blk_found}}
    <div class="tx-tools">
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#decode-outputs" aria-controls="decode-outputs" role="tab" data-toggle="tab">Iššifruoti pavedimus</a></li>
          <li role="presentation"><a href="#prove-sending" aria-controls="prove-sending" role="tab" data-toggle="tab">Patvirtinti siuntimą</a></li>
        </ul>
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="decode-outputs">
            <h4 style="margin: 0px">Tikrinkite, kuris pavedimas priklauso Bitlitas adresui pagal adresą ir stebėjimo raktą</h4>
			<h5 style="margin: 0px">
                Žiedinių transakcijų pavedimų sumos taip pat yra iššifruojamos
                <br/><br/>
                <strong>Pastaba: adresas ir stebėjimo raktas yra siunčiamas į serverį, kuriame vyksta duomenų apdorojimas</strong>
            </h5>
            <form action="/myoutputs" method="get" style="padding-top:20px; max-width: 900px; margin: auto; text-align: center;" autocomplete="off">
              <input type="hidden" name="tx_hash" value="{{tx_hash}}">
              <div class="form-group">
                <input type="text" class="form-control" id="inputBitlitasAddress" placeholder="Bitlitas adresas" name="lit_address"/>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="inputViewKey" placeholder="Privatus stebėjimo raktas" name="viewkey"/>
				<input type="hidden" name="raw_tx_data" value="{{raw_tx_data}}">
              </div>
              <button type="submit" class="btn btn-explorer">Iššifruoti pavedimus</button>
            </form>
          </div>
          <div role="tabpanel" class="tab-pane" id="prove-sending">
            <h4 style="margin: 0px">Patvirtinkite kam nors, kad siuntėte pavedimą šioje transakcijoje</h4>
            <h5 style="margin: 0px">Tx privatus raktas gali būti gautas naudojant <code>get_tx_key</code>
                komandą  <code>bitlitas-wallet-cli</code> terminale
				<br/><br/>
                <strong>Pastaba: adresas ir privatus tx raktas yra siunčiamas į serverį, kuriame vyksta duomenų apdorojimas</strong>
			</h5>
            <form action="/prove" method="get" style="max-width: 900px; margin: auto; text-align: center;" autocomplete="off">
               <input type="hidden" name="txhash" value="{{tx_hash}}"><br/>
              <div class="form-group">
                <input type="text" class="form-control" id="inputTxPrivateKey" placeholder="Tx privatus raktas" name="txprvkey"/>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="inputRecipientBitlitasAddress" placeholder="Gavėjo adresas" name="litaddress"/>
              </div>
              <button type="submit" class="btn btn-explorer">Patvirtinti</button>
            </form>
          </div>
        </div>
    </div>
	<br/>
    <br/>
	{{/blk_found}}
	{{/have_raw_tx}}
    
	{{#has_inputs}}
    <div class="panel panel-explorer">
        <div class="panel-heading">
		  {{^inputs_lit_sum_not_zero}}
			{{inputs_no}} pavedimas(-ai) IŠ. Viso {{inputs_lit_sum_short}} LIT
		  {{/inputs_lit_sum_not_zero}}
		  {{#inputs_lit_sum_not_zero}}
			{{^have_any_unknown_amount}}
			  {{inputs_no}} pavedimas(-ai) IŠ. Viso {{inputs_lit_sum}} LIT
			{{/have_any_unknown_amount}}
			{{#have_any_unknown_amount}}
			  {{inputs_no}} pavedimas(-ai) IŠ. Viso {{inputs_lit_sum}} LIT
			{{/have_any_unknown_amount}}
		  {{/inputs_lit_sum_not_zero}}
        </div>
        <div class="panel-body">
          <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>#</th>
                    <th><span style="font-size:90%;font-weight:normal;">(spausk ant stulpelio norėdamas matyti daugiau)</span></th>
					{{#have_raw_tx}}
					<th>Jau išsiųsta?</th>
					{{/have_raw_tx}}
                    <th>Suma</th>
                  </tr>
                </thead>
                <tbody>
					{{#inputs}}
                    <tr class="tx-input">
                      <td>{{input_idx}}</td>
                      <td>
                        {{in_key_img}}
                      </td>
					  {{#have_raw_tx}}
					  <td>
						{{#already_spent}}
							<span style="color: red; font-weight: bold;">True</span>
						{{/already_spent}}
						{{^already_spent}}
							False
						{{/already_spent}}
					  </td>
					  {{/have_raw_tx}}
                      <td>{{{amount}}}</td>
                    </tr>
                    <tr style="display:none;"></tr>
                    <tr class="tx-mixins-container">
					  {{#have_raw_tx}}
                      <td colspan="4">
					  {{/have_raw_tx}}
					  {{^have_raw_tx}}
					  <td colspan="3">
					  {{/have_raw_tx}}
                        <div class="table-responsive">
                            <table class="table tx-mixins">
                              <thead>
                                <tr>
                                  <th>Mixin slaptas adresas</th>
								  {{#have_raw_tx}}
								  <th>Is it real?</th>
								  {{/have_raw_tx}}
                                  <th>blokas</th>
                                  <th>mixin</th>
                                  <th>į/iš</th>
                                  <th>data</th>
                                  <th>prieš [y:d:h:m:s]</th>
                                </tr>
                              </thead>
                              <tbody>
								  {{#mixins}}
                                  <tr>
                                    <td> - {{mix_idx}}: {{mix_pub_key}}</td>
									{{#have_raw_tx}}
									  {{#mix_is_it_real}}
										<td><span style="color: #008009;font-weight: bold">True</span></td>
									  {{/mix_is_it_real}}
									  {{^mix_is_it_real}}
										<td>False</td>
									  {{/mix_is_it_real}}
								    {{/have_raw_tx}}
                                    <td>{{mix_blk}}</td>
                                    <td>{{mix_mixin_no}}</td>
                                    <td>{{mix_inputs_no}}/{{mix_outputs_no}}</td>
                                    <td>{{mix_timestamp}}</td>
                                    <td>{{mix_age}}</td>
                                  </tr>
                                  {{/mixins}}
                              </tbody>
                            </table>
                        </div>
                      </td>
                    </tr>
					{{/inputs}}
                </tbody>
              </table>
          </div>
        </div>
      </div>
	{{/has_inputs}}
